

/* Модальное окно */
/*
.popup {
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 3;
display: none;
}

.popup-active {
display: flex;
justify-content: center;
align-items: center;
}

.popup::after {
content: "";
background-color: #000000;
opacity: 0.6;
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 2;
}

.popup-close {
background-image: url("../svg/form-x.svg");
width: 22px;
height: 22px;
position: absolute;
top: -30px;
right: 0;
background-repeat: no-repeat;
padding: 0;
border: none;
font: inherit;
color: inherit;
background-color: transparent;
cursor: pointer;

}


.popup-box {
box-sizing: border-box;
width: 390px;

position: absolute;
z-index: 9999;
}

.popup-box-form {
display: flex;
justify-content: flex-start;
flex-direction: column;
background-color: #ffffff;


padding: 0px 30px 54px 30px;
}

.form {

}

.form-hint {
font-size: 13px;
display: block;

}
.form-row {
margin-top: 33px;
}

.first-row {
margin-top: 0px;
}

.form-group {
display: block;
}

.field {
width: 100%;
height: 49px;
font-size: 13px;
color: #888888;
font-family: inherit;
font-weight: 500;
padding: 20px;
background-color: #f4f7f6;
border: 0px;
box-sizing: border-box;
display: block;
margin-top: 12px;
}

.select {
-webkit-appearance: none;
-moz-appearance: none;
display: block;
box-sizing: border-box;
width: 100%;
height: 49px;
font-size: 13px;
color: #888888;
font-family: inherit;
font-weight: 500;
padding: 0px 20px 0px 20px;
background-color: #f4f7f6;
border: 0px;
box-sizing: border-box;
display: block;
margin-top: 12px;
background-image: url("../svg/form-arrows.svg");
background-repeat: no-repeat;
background-position: right 10px center;
background-size: 10px;
}

.radio-group-text {
font-size: 13px;
font-family: OpenSans;
font-style: normal;
}

.radio-group-text::before {
content: "";
display: inline-block;
width: 18px;
height: 18px;

background-image: url("../svg/form-empty-circle.svg");
background-repeat: no-repeat;
background-position: center center;
background-size: 18px;
vertical-align: middle;
margin-right: 8px;

}

.radio:checked ~ .radio-group-text::before {
background-image: url("../svg/form-circle.svg");
}

.select:focus {
outline: 1px solid #b59f5b
}

.field:focus {
outline: 1px solid #b59f5b
}

.textarea-popup {
max-width: 100%;
min-width: 100%;
max-height: 130px;
min-height: 130px;
resize: none;
}

.popup-button {
width: 100%;
height: 49px;
font-size: 13px;
color: #ffffff;
font-family: OpenSans;
font-weight: 700;
background-color: #b59f5b;
border: 0px;
box-sizing: border-box;
border: 1px solid #f4f7f6;
text-transform: uppercase;
display: block;
}

.popup-button:hover {
background-color: #323232;
cursor: pointer;

}

.radio {
position: absolute;
clip: rect(1px, 1px, 1px, 1px);
width: 1px;
height: 1px;
}
*/

@font-face {
  font-family: "OpenSans";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-weight: 700;
  src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: OpenSans, arial, sans-serif;
  font-style: normal;
  font-size: 18px;
}

h1 {
  font-family: OpenSans;
  font-weight: 700;
  text-transform: uppercase;

}

h2 {
  font-family: OpenSans;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
}

h3 {
  font-family: OpenSans;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
}

h1, h2, h3, h4 {
  color: #0f0d0e;
}

.hender {

  min-height: 450px;
  height: 450px;
  text-align: center;
  background-image: url("../images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 0;
  padding: 28px 15px 0px 15px;
}

.hender:after {
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

.top-panel {
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;


}




.welcome-title {
  font-family: OpenSans;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 45px;
  color: #fff;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.top-panel__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.menu__button {
  width: 24px;
  height: 20px;
  border: none;
  padding: 0;
  background-color: transparent;
  position: relative;
  text-indent: -9999px;
  cursor: pointer;
  align-self: center;
}

.menu__button-label {
  width: 24px;
  height: 2px;
  margin-top: -0.1em;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  top: 50%;
}

.menu__button::before, .menu__button::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
}

.menu__button:before {
  top: 0;
}

.menu__button:after {
  bottom: 0;
}

.menu-list {
  font-family: OpenSans;
  font-style: normal;
  margin-top: 17px;
  margin-bottom: 0px;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  font-size: 13px;
  text-transform: uppercase;


}


.logo {
  width: 182px;
}

.menu {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.menu-list-item {
  margin-left: 35px;
}

.menu-even {
  margin-left: 0px;
}

a.menu-link {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
}

a.menu-link:hover {
  color: #fff;
  text-decoration: underline;
}


.welcome-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
  padding-top: 124px;
}

.site-content {
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.trends {
  display: flex;

}



.trends-card {
  display: flex;
  align-items: end;

}



.products {
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;

}

.product-block {
  box-sizing: border-box;
  font-size: 14px;
  width: 340px;



}

.product-img {
  padding: 0px 20px 0px 20px;

}

.product-body {
  outline: 3px solid rgba(181,159,91,0.6);
  padding: 30px 20px 30px 20px;
  margin-top: -30px;
  min-height: 205px;
}

.product-footer {
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;

}

.product-price-old {
  text-decoration: line-through;
  font-size: 14px;
  margin-bottom: 5px;


}

.card-product-img {
  width: 100%;
}

.product-rub {
  margin-left: 5px;
  font-family: arial;
  font-weight: 500;

}

.product-content {

}

.product-price-value {
  font-family: OpenSans;
  font-weight: 700;

}

.product-rub-old {
  font-family: arial;
  font-weight: 500;
}

.product_description {

}

.product-praces {

}

.product-price {
  font-size: 20px;
  color: #0f0d0e;
  line-height: 1;
  display: flex;
}


.trend_2, .trend_3, .trend_4 {
  margin-left: 4px;
}

.trends-card {
  width: 25%;
}





.trend_1 {
  background-image: url("../images/trend1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.trend_2 {
  background-image: url("../images/trend2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.trend_3 {
  background-image: url("../images/trend3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.trend_4 {
  background-image: url("../images/trend4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}




.trends-card::before {
  content: "";
  position: absolute;
  background-color: #000000;
  opacity: 0.6;
  height: 100%;
  width: 100%;
}

.trend-content {
  width: 100%;
  z-index: 1;
  padding: 35px;
  margin:  25px;
  outline: 3px solid rgba(181,159,91,0.6);


}

.trend-name {
  display: block;
  margin-top: 5px;
  text-decoration: none;
  color: #ffffff;
  font-family: OpenSans;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
}

.trend-name:hover {
  color: #b59f5b;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

}

.aside-block {
  width: 272px;
}


.new-posts {
  width: 272px;
}

.new-posts-title {
  margin-top: 0px;
  text-align: center;
}

.new-posts-title {
  margin-top: 0px;
  text-align: center;
  margin-bottom: 0px;
}


.new-posts-title::after {
  content:"";
  display: block;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  margin-bottom: 0px;
  opacity: 0.4;
}

.top-title {
  margin-top: 64px;
  text-align: center;
  margin-bottom: 0px;
  padding-left: 15px;
  padding-right: 15px;
}


.top-title::after {
  content:"";
  display: block;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  margin-bottom: 30px;
  opacity: 0.4;
}

.top-title-popup {
  margin-top: 40px;
  text-align: center;


}

.top-title-popup::after {
  content:"";
  display: block;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  margin-bottom: 30px;
  opacity: 0.4;
}

.date-new {
  font-family: OpenSans;
  font-style: normal;
  font-size: 12px;
  color: #888888;
  margin-top: 0px;

}

.new-card-content {
  margin-left: 18px;
  height: 75px;

}

.new-posts-card {
  margin-top: 30px;
  display: flex;
  align-items: flex-start;
}

.new-post-heading {
  margin-top: 2px;
  margin-bottom: 0px;
  line-height: 18px;

}

a.card-new-name {

  text-decoration: none;
}

.search {
  display: flex;
  margin-top: 60px;
  margin-bottom: 60px;
}

.search-site {
  width: 100%;
  min-height: 49px;
  font-size: 13px;
  color: #888888;
  font-family: OpenSans;
  font-style: normal;
  padding-left: 12px;
  background-color: #f4f7f6;
  border: 0px;
  box-sizing: border-box;
  display: block;
  border: 1px solid #f4f7f6;
}

.search-site:focus {
  border: 1px solid #b59f5b;
  outline: none;
}

.search-button {
  min-width: 49px;
  min-height: 49px;
  background-color: #b59f5b;
  background-image: url("../svg/search.svg");
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center center;
  border: 0px;
}

.search-button:hover {
  background-color: #323232;
  cursor: pointer;
}

.mailing {
  margin-top: 30px;
  margin-bottom: 60px;
}

.email-your {
  width: 272px;
  height: 49px;
  font-size: 13px;
  color: #888888;
  font-family: OpenSans;
  font-style: normal;
  padding-left: 12px;
  background-color: #f4f7f6;
  border: 0px;
  box-sizing: border-box;
  border: 1px solid #f4f7f6;
  display: block;
}

.email-your:focus {
  border: 1px solid #b59f5b;
  outline: none;
}

.email-button-box {
  margin-top: 20px;

}

.email-button {
  width: 272px;
  height: 49px;
  font-size: 13px;
  color: #ffffff;
  font-family: OpenSans;
  font-weight: 700;
  background-color: #b59f5b;
  border: 0px;
  box-sizing: border-box;
  border: 1px solid #f4f7f6;
  text-transform: uppercase;
  display: block;
}

.email-button:hover {
  background-color: #323232;
  cursor: pointer;

}

.shop-button {
  width: 140px;
  height: 49px;
  font-size: 13px;
  color: #ffffff;
  font-family: OpenSans;
  background-color: #b59f5b;
  border: 0px;
  box-sizing: border-box;
  border: 1px solid #f4f7f6;
  text-transform: uppercase;
  display: block;


}

.shop-button:hover {
  background-color: #323232;
  cursor: pointer;

}


a.tag-link {
  font-family: OpenSans;
  font-weight: 700;
  text-decoration: none;
  font-size: 13px;
  color: #0f0d0e;
  text-transform: uppercase;
}

a.theme-link {
  font-family: OpenSans;
  font-weight: 700;
  text-decoration: none;
  font-size: 14px;
  color: #0f0d0e;
  margin-right: 2px;
}

a.theme-link:hover {
  color: #b59f5b;
}

a.text-link {
  color: #b59f5b;
}

a.text-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.themr-quantity {
  font-family: OpenSans;
  font-weight: 700;
  text-decoration: none;
  font-size: 12px;

  color: #b59f5b;
}

.tag {
  margin-right: 6px;
  margin-bottom: 6px;

  padding: 8px 12px;
  border: 3px solid #f4f3f1;


}

.tags-list {
  margin-top: 25px;
  margin-bottom: 60px;
  list-style: none;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;


}

.themes {

}

.theme {
  height: 46px;
  line-height: 46px;
  display: flex;
  vertical-align: middle;
  border-bottom: 1px solid #eeeeee;


}

.card-even {
  margin-top: 35px;

}

.card {

  display: flex;
  align-items: flex-start;

}

.card-img-block {
  width: auto;
  max-width: 381px;
}


.card-img {
  width: 100%;


}

.card-new-img {
  min-width: 75px;
}

.card-content {
  margin-left: 30px;
  margin-right: 30px;
  max-width: 375px;
  min-width: 250px;
  width: auto;
}

a.category {
  font-family: OpenSans;
  font-weight: 700;
  font-size: 14px;
  color: #b59f5b;
  text-transform: uppercase;
  margin-right: 10px;
  text-decoration: none;

}

a.category:hover {
  text-decoration: underline;
}


.card-name {
  margin-top: 5px;
  text-decoration: none;
}



p.description {
  font-family: OpenSans;
  font-style: normal;
  font-size: 15px;
  color: #0f0d0e;
  margin-top: 50px;
}

p {
  font-family: OpenSans;
  font-style: normal;
  font-size: 15px;
  color: #0f0d0e;
}


.date {
  font-family: OpenSans;
  font-style: normal;
  font-size: 12px;
  color: #888888;
  margin-right: 10px;
}

.author {
  font-family: OpenSans;
  font-weight: 700;
  font-size: 12px;
  color: #0f0d0e;

}

.footer {
  margin-top: 65px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;
  height: 85px;
  background-color: #f4f7f6;
  justify-content: center;
  display: flex;
}

.copyright {
  display: block;
  text-align: center;
  font-family: OpenSans;
  font-weight: 700;
  font-size: 12px;
  margin-top: 74px;
  margin-bottom: 41px;
  margin-left: auto;
  margin-right: auto;
  color: #999999;
}

.address {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;

}

.twitter, .pinterest, .facebook, .instagram, .tumblr {
  display: block;
  width: 20px;
  height: 20px;
  margin: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.twitter {
  background-image: url("../svg/004-twitter.svg")
}
.pinterest{
  background-image: url("../svg/001-pinterest.svg")
}
.facebook {
  background-image: url("../svg/002-facebook-logo.svg")
}
.instagram {
  background-image: url("../svg/005-instagram.svg")
}
.tumblr {
  background-image: url("../svg/003-tumblr.svg")
}
