
/*
*{
border: 1px solid gray;
}
*/

@font-face {
  font-family: OpenSans-Regular;
  font-weight: 500;
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
  font-style: normal;
}

@font-face {
  font-family: OpenSans-Bold;
  font-weight: 700;
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
  font-style: normal;
}

body {
  margin: 0;
  font-family: arial, sans-serif;
  font-size: 18px;
}

h1 {
  font-family: OpenSans-Bold;
  text-transform: uppercase;

}

h2 {
  font-family: OpenSans-Bold;
  text-transform: uppercase;
  font-size: 20px;
}

h3 {
  font-family: OpenSans-Bold;
  text-transform: uppercase;
  font-size: 14px;
}

h1, h2, h3, h4 {
  color: #0f0d0e;
}

.welcome {
  min-width: 1170px;
  min-height: 450px;
  height: 450px;
  padding-top: 28px;
  text-align: center;
  background-image: url("../images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;
  position: relative;
  z-index: 0;
}

.welcome:after {
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

.welcome-title {
  font-family: OpenSans-Bold;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 45px;
  color: #fff;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.menu-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.menu-list {
  font-family: OpenSans-Regular;
  margin-top: 17px;
  margin-bottom: 0px;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  font-size: 13px;
  text-transform: uppercase;


}

.logo {
}


.header-logo {
  width: 182px;
}

.menu {
  margin: 0px;
}

.menu-list-item:nth-child(n+2) {
  margin-left: 35px;
}

a.menu-link {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
}

a.menu-link:hover {
  color: #fff;
  text-decoration: underline;
}


.welcome-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
  padding-top: 124px;
}

.site-content {
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.trends {
  display: flex;
  justify-content: center;
  min-height: 320px;

}

.products {
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;

}

.product-block {
  box-sizing: border-box;
  font-size: 14px;
  width: 340px;



}

.product-img {
  padding: 0px 20px 0px 20px;

}

.product-body {
  outline: 3px solid rgba(181,159,91,0.6);
  padding: 30px 20px 30px 20px;
  margin-top: -30px;
  min-height: 205px;
}

.product-footer {
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;

}

.product-price-old {
  text-decoration: line-through;
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 700;
}

.card-product-img {
  width: 100%;
}

.product-rub {
  margin-left: 5px;
}

.product-content {

}

.product-price-value {

}

.product_description {

}

.product-praces {

}

.product-price {
  font-size: 20px;
  font-weight: 700;
  color: #0f0d0e;
  line-height: 1;
  display: flex;
}

.trend_1 {
  background-image: url("../images/trend1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.trend_2 {
  background-image: url("../images/trend2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.trend_3 {
  background-image: url("../images/trend3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.trend_4 {
  background-image: url("../images/trend4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}



.trends-card {
  width: 25%;
  display: flex;
  align-items: end;
}

.trends-card:nth-child(n+2) {
  margin-left: 4px;
}

.trends-card::before {
  content: "";
  position: absolute;
  background-color: #000000;
  opacity: 0.6;
  height: 100%;
  width: 100%;
}

.trend-content {
  width: 100%;
  z-index: 1;
  padding: 35px;
  margin:  25px;
  outline: 3px solid rgba(181,159,91,0.6);


}

.trend-name {
  display: block;
  margin-top: 5px;
  text-decoration: none;
  color: #ffffff;
  font-family: OpenSans-Bold;
  text-transform: uppercase;
  font-size: 20px;
}

.trend-name:hover {
  color: #b59f5b;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

}

.aside-block {
  width: 272px;
}


.new-posts {
  width: 272px;
}

.new-posts-title {
  margin-top: 0px;
  text-align: center;
}

.new-posts-title {
  margin-top: 0px;
  text-align: center;
  margin-bottom: 0px;
}


.new-posts-title::after {
  content:"";
  display: block;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  margin-bottom: 0px;
  opacity: 0.4;
}

.top-title {
  margin-top: 64px;
  text-align: center;
  margin-bottom: 0px;
  padding-left: 15px;
  padding-right: 15px;
}

.top-title::after {
  content:"";
  display: block;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  margin-bottom: 30px;
  opacity: 0.4;
}


.date-new {
  font-family: OpenSans-Regular;
  font-size: 12px;
  color: #888888;
  margin-top: 0px;

}

.new-card-content {
  margin-left: 18px;
  height: 75px;

}

.new-posts-card {
  margin-top: 30px;
  display: flex;
  align-items: flex-start;
}

.new-post-heading {
  margin-top: 2px;
  margin-bottom: 0px;
  line-height: 18px;

}

a.card-new-name {

  text-decoration: none;
}

.search {
  display: flex;
  margin-top: 60px;
  margin-bottom: 60px;
}

.search-site {
  width: 100%;
  min-height: 49px;
  font-size: 13px;
  color: #888888;
  font-family: OpenSans-Regular;
  padding-left: 12px;
  background-color: #f4f7f6;
  border: 0px;
  box-sizing: border-box;
  display: block;
  border: 1px solid #f4f7f6;
}

.search-site:focus {
  border: 1px solid #b59f5b;
  outline: none;
}

.search-button {
  min-width: 49px;
  min-height: 49px;
  background-color: #b59f5b;
  background-image: url("../svg/search.svg");
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center center;
  border: 0px;
}

.search-button:hover {
  background-color: #323232;
  cursor: pointer;
}

.mailing {
  margin-top: 30px;
  margin-bottom: 60px;
}

.email-your {
  width: 272px;
  height: 49px;
  font-size: 13px;
  color: #888888;
  font-family: OpenSans-Regular;
  padding-left: 12px;
  background-color: #f4f7f6;
  border: 0px;
  box-sizing: border-box;
  border: 1px solid #f4f7f6;
  display: block;



}

.email-your:focus {
  border: 1px solid #b59f5b;
  outline: none;
}

.email-button-box {
  margin-top: 20px;

}

.email-button {
  width: 272px;
  height: 49px;
  font-size: 13px;
  color: #ffffff;
  font-family: OpenSans-bold;
  background-color: #b59f5b;
  border: 0px;
  box-sizing: border-box;
  border: 1px solid #f4f7f6;
  text-transform: uppercase;
  display: block;
}

.email-button:hover {
  background-color: #323232;
  cursor: pointer;

}

.shop-button {
  width: 140px;
  height: 49px;
  font-size: 13px;
  color: #ffffff;
  font-family: OpenSans-bold;
  background-color: #b59f5b;
  border: 0px;
  box-sizing: border-box;
  border: 1px solid #f4f7f6;
  text-transform: uppercase;
  display: block;


}

.shop-button:hover {
  background-color: #323232;
  cursor: pointer;

}


a.tag-link {
  font-family: OpenSans-Bold;
  text-decoration: none;
  font-size: 13px;
  color: #0f0d0e;
  text-transform: uppercase;
}

a.theme-link {
  font-family: OpenSans-Bold;
  text-decoration: none;
  font-size: 14px;
  color: #0f0d0e;
  margin-right: 2px;
}

a.theme-link:hover {
  color: #b59f5b;
}

a.text-link {
  color: #b59f5b;
}

a.text-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.themr-quantity {
  font-family: OpenSans-Bold;
  text-decoration: none;
  font-size: 12px;

  color: #b59f5b;
}

.tag {
  margin-right: 6px;
  margin-bottom: 6px;

  padding: 8px 12px;
  border: 3px solid #f4f3f1;


}

.tags-list {
  margin-top: 25px;
  margin-bottom: 60px;
  list-style: none;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;


}

.themes {

}

.theme {
  height: 46px;
  line-height: 46px;
  display: flex;
  vertical-align: middle;
  border-bottom: 1px solid #eeeeee;


}

.card:nth-child(n+2) {
  margin-top: 35px;

}

.card {

  display: flex;
  align-items: flex-start;
}

.card-img {
  max-width: 380px;
  width:50%;

}

.card-new-img {
  min-width: 75px;
}

.card-content {
  margin-left: 4%;
  margin-right: 4%;
  max-width: 375px;
}

a.category {
  font-family: OpenSans-Bold;
  font-size: 14px;
  color: #b59f5b;
  text-transform: uppercase;
  margin-right: 10px;
  text-decoration: none;

}

a.category:hover {
  text-decoration: underline;
}


.card-name {
  margin-top: 5px;
  text-decoration: none;
}



p.description {
  font-family: OpenSans-Regular;
  font-size: 15px;
  color: #0f0d0e;
  margin-top: 50px;
}

p {
  font-family: OpenSans-Regular;
  font-size: 15px;
  color: #0f0d0e;
}


.date {
  font-family: OpenSans-Regular;
  font-size: 12px;
  color: #888888;
  margin-right: 10px;
}

.author {
  font-family: OpenSans-Bold;
  font-size: 12px;
  color: #0f0d0e;

}

.footer {
  margin-top: 65px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;
  height: 85px;
  background-color: #f4f7f6;
  justify-content: center;
  display: flex;
}

.copyright {
  display: block;
  width: 1170px;
  text-align: center;
  font-family: OpenSans-Bold;
  font-size: 12px;
  margin-top: 74px;
  margin-bottom: 41px;
  margin-left: auto;
  margin-right: auto;
  color: #999999;
}

.address {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;

}

.twitter, .pinterest, .facebook, .instagram, .tumblr {
  display: block;
  width: 20px;
  height: 20px;
  margin: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.twitter {
  background-image: url("../svg/004-twitter.svg")
}
.pinterest{
  background-image: url("../svg/001-pinterest.svg")
}
.facebook {
  background-image: url("../svg/002-facebook-logo.svg")
}
.instagram {
  background-image: url("../svg/005-instagram.svg")
}
.tumblr {
  background-image: url("../svg/003-tumblr.svg")
}
